# Dependencies
node_modules/
*/node_modules/

# Production builds & compiled files
dist/
*/dist/
build/
*.tsbuildinfo

# Environment variables & secrets
.env
.env.*
.env.local
.env.*.local
*.env
secrets/
secrets
!*.env.example
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sandbox temporary folders
scratch/
temp/
